<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<title>
{% block title %}检索界面{% endblock %}</title>
<style>
    body,div        { margin:0; border:0 }
    .header         { font-size:50px; background-color:#4682B4; height:70px;  color:#fff; text-align:center }
    .context        { font-size:15px; background-color:#F5F5F5; height:630px; width:500px; float:left }
    .result         { font-size:15px; background-color:#F5F5F5; height:630px; width:1018px; float:left }
    .foot           { font-size:20px; background-color:#4682B4; height:30px;  color:#fff; clear:both; text-align:center }
    table.hovertable{
        font-family: verdana,arial,sans-serif;
        font-size: 13px;
        color: #333333;
        border-width: 1px;
        border-color: #999999;
        border-collapse: collapse;
        }
    table.hovertable th{
        background-color: #DCDCDC;
        border-width: 1px;
        padding: 10px;
        border-style: solid;
        border-color: #999999;
        }
    table.hovertable tr{
        background-color: #F5F5F5;
        }
    table.hovertable td{
        border-width: 1px;
        padding: 10px;
        border-style: solid;
        border-color: #999999;
    }
</style>
</head>

<body>
<!--标题栏-->
<div class="header">{% block header %}高考志愿填报信息可视化系统{% endblock %}</div>

<!--检索栏-->
<div class="context">
{% block context %}
<form action="" method="post">
    {% csrf_token %}
    <p>请输入需要搜索的信息</p>
    <p>学校：<input type="text" name="school"></p>
    <p>专业：<input type="text" name="profession"></p>
    <p>分数：<input type="text" name="lscore" style="width:30px">-<input type="text" name="hscore" style="width:30px"></p>
    <p>位次：<input type="text" name="lrank" style="width:30px">-<input type="text" name="hrank" style="width:30px"></p>
    <p>地区：<select  name="region"></p>
        <option></option>
        <option>安徽</opiton>
        <option>澳门</opiton>
        <option>北京</opiton>
        <option>重庆</opiton>
        <option>福建</opiton>
        <option>甘肃</opiton>
        <option>广东</opiton>
        <option>广西</opiton>
        <option>贵州</opiton>
        <option>海南</opiton>
        <option>河北</opiton>
        <option>河南</opiton>
        <option>黑龙江</opiton>
        <option>湖北</opiton>
        <option>湖南</opiton>
        <option>吉林</opiton>
        <option>江苏</opiton>
        <option>江西</opiton>
        <option>辽宁</opiton>
        <option>内蒙古</opiton>
        <option>宁夏</opiton>
        <option>青海</opiton>
        <option>山东</opiton>
        <option>山西</opiton>
        <option>陕西</opiton>
        <option>上海</opiton>
        <option>四川</opiton>
        <option>台湾</opiton>
        <option>天津</opiton>
        <option>西藏</opiton>
        <option>香港</opiton>
        <option>新疆</opiton>
        <option>云南</opiton>
        <option>浙江</opiton></select></p>
    <p>类型：<input type="radio" name="type" checked>普通
        <input type="radio" name="type">体育
        <input type="radio" name="type">艺术</p>
    <p>层次：<select  name="level">
        <option></option>
        <option>第一批</opiton>
        <option>第二批</opiton>
        <option>第三批</opiton></select></p>
    <p>考试科目：<input type="checkbox" name="subject" value="化学">化学
        <input type="checkbox" name="subject" value="物理">物理
        <input type="checkbox" name="subject" value="生物">生物
        <input type="checkbox" name="subject" value="历史">历史
        <input type="checkbox" name="subject" value="地理">地理
        <input type="checkbox" name="subject" value="政治">政治</p>
    <input type="submit" value="搜索"> 
</form>
{% endblock %}</div>

<!--结果栏-->
<div class="result">
{% block result %}
<span id="spanFirstt">第一页</span> <span id="spanPret">上一页</span> <span id="spanNextt">下一页</span> <span id="spanLastt">最后一页</span> 第<span id="spanPageNumt"></span>页/共<span id="spanTotalPaget"></span>页   
<table class="hovertable">
    <tr align="center">
        <th width="30">序号</th>
        <th width="100">学校</th>
        <th width="100">专业</th>
        <th width="50">分数线</th>
        <th width="100">位次</th>
        <th width="100">备注</th></tr>
    <tbody id="tablelsw"> 
    {% for item in school %}
        <tr align="center" onmouseover="this.style.backgroundColor='#DCDCDC';" onmouseout="this.style.backgroundColor='#F5F5F5';">
        <td> {{forloop.counter}}  </td>
        <td> {{item.school}}      </td>
        <td> {{item.profess_name}}</td> 
        <td> {{item.score_line}}  </td>
        <td> {{item.rank}}        </td>
        <td> {{item.remark}}}     </td></tr>
    {% endfor %}
</tbody>  
</table>
<span id="spanFirst">第一页</span> 
<span id="spanPre">上一页</span> 
<span id="spanNext">下一页</span> 
<span id="spanLast">最后一页</span> 
第<span id="spanPageNum"></span>页/共<span id="spanTotalPage"></span>页
{% endblock %}</div>

<!--末尾栏-->
<div class="foot">{% block foot %}版权声明{% endblock %}</div>
</body>
</html>

<!--表格分页-->>
<script>    
    var theTable = document.getElementById("tablelsw");   
    var totalPage = document.getElementById("spanTotalPage");   
    var pageNum = document.getElementById("spanPageNum");   
    var spanPre = document.getElementById("spanPre");   
    var spanNext = document.getElementById("spanNext");   
    var spanFirst = document.getElementById("spanFirst");   
    var spanLast = document.getElementById("spanLast");   
    var totalPaget = document.getElementById("spanTotalPaget");   
    var pageNumt = document.getElementById("spanPageNumt");   
    var spanPret = document.getElementById("spanPret");   
    var spanNextt = document.getElementById("spanNextt");   
    var spanFirstt = document.getElementById("spanFirstt");   
    var spanLastt = document.getElementById("spanLastt");   
    var numberRowsInTable = theTable.rows.length;   
    var pageSize = 15;   
    var page = 1;   
    //下一页   
    function next(){   
        hideTable();   
        currentRow = pageSize * page;   
        maxRow = currentRow + pageSize;   
        if ( maxRow > numberRowsInTable ) maxRow = numberRowsInTable;   
        for ( var i = currentRow; i< maxRow; i++ ){   
            theTable.rows[i].style.display = '';   
        }   
        page++;   
        if ( maxRow == numberRowsInTable ) { nextText(); lastText(); }   
        showPage();   
        preLink();   
        firstLink();   
    }   
    //上一页   
    function pre(){   
        hideTable();   
        page--;   
        currentRow = pageSize * page;   
        maxRow = currentRow - pageSize;   
        if ( currentRow > numberRowsInTable ) currentRow = numberRowsInTable;   
        for ( var i = maxRow; i< currentRow; i++ ){   
            theTable.rows[i].style.display = '';   
        }   
        if ( maxRow == 0 ){ preText(); firstText(); }   
        showPage();   
        nextLink();   
        lastLink();   
    }
    //第一页   
    function first(){   
        hideTable();   
        page = 1;   
        for ( var i = 0; i<pageSize; i++ ){   
            theTable.rows[i].style.display = '';   
        }   
        showPage();   
        preText();   
        nextLink();   
        lastLink();   
    }
    //最后一页   
    function last(){   
        hideTable();   
        page = pageCount();   
        currentRow = pageSize * (page - 1);   
        for ( var i = currentRow; i<numberRowsInTable; i++ ){   
            theTable.rows[i].style.display = '';   
        }   
        showPage();   
        preLink();   
        nextText();   
        firstLink();   
    }   
    function hideTable(){   
        for ( var i = 0; i<numberRowsInTable; i++ ){   
            theTable.rows[i].style.display = 'none';   
        }   
    }   
    function showPage(){   
        pageNum.innerHTML = page;   
        pageNumt.innerHTML = page;   
    }   
    //总共页数   
    function pageCount(){   
        var count = 0;   
        if ( numberRowsInTable%pageSize != 0 ) count = 1;    
        return parseInt(numberRowsInTable/pageSize) + count;   
    }   
    //显示链接   
    function preLink()  { spanPre.innerHTML = "<a href='javascript:pre();'>上一页</a>"; spanPret.innerHTML = "<a href='javascript:pre();'>上一页</a>";}   
    function preText()  { spanPre.innerHTML = "上一页"; spanPret.innerHTML = "上一页"; }   
    function nextLink() { spanNext.innerHTML = "<a href='javascript:next();'>下一页</a>"; spanNextt.innerHTML = "<a href='javascript:next();'>下一页</a>";}   
    function nextText() { spanNext.innerHTML = "下一页"; spanNextt.innerHTML = "下一页";}   
    function firstLink(){ spanFirst.innerHTML = "<a href='javascript:first();'>第一页</a>"; spanFirstt.innerHTML = "<a href='javascript:first();'>第一页</a>";}   
    function firstText(){ spanFirst.innerHTML = "第一页"; spanFirstt.innerHTML = "第一页";}
    function lastLink() { spanLast.innerHTML = "<a href='javascript:last();'>最后一页</a>"; spanLastt.innerHTML = "<a href='javascript:last();'>最后一页</a>";}   
    function lastText() { spanLast.innerHTML = "最后一页"; spanLastt.innerHTML = "最后一页";}   
    //隐藏表格   
    function hide(){   
        for ( var i = pageSize; i<numberRowsInTable; i++ ){   
            theTable.rows[i].style.display = 'none';   
        }   
        totalPage.innerHTML = pageCount();   
        pageNum.innerHTML = '1';   
        totalPaget.innerHTML = pageCount();   
        pageNumt.innerHTML = '1';   
        nextLink();   
        lastLink();   
    }   
    hide();   
</script> 
<script type="text/javascript">
    //鼠标悬停改色
    function altRows(id){
        if(document.getElementsByTagName){
            var table = document.getElementById(id);
            var rows = table.getElementsByTagName("tr");
            for(i = 0; i < rows.length; i++){
                if(i % 2 == 0){
                    rows[i].className = "evenrowcolor";
                }
                else{
                    rows[i].className = "oddrowcolor";
                }
            }
        }
    }
    window.onload=function(){
        altRows('alternatecolor');
    }
</script>
