<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>高考志愿数据查询系统</title>
    {% load staticfiles %}
    <link rel="icon" href="{%static 'gaokao/favicon.png'%}" sizes="32x32">
    <link rel="icon" href="{%static 'gaokao/favicon.png'%}" sizes="192x192">
    {#    设定苹果设备图标#}
     <link rel="apple-touch-icon-precomposed" href="{%static 'gaokao/favicon.png'%}">
    <meta name="msapplication-TileImage" content="{%static 'gaokao/favicon.png'%}">
    <link rel="stylesheet" href="{% static 'idcops/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'idcops/css/AdminLTE.min.css' %}">
    <link rel="stylesheet" href="{% static 'idcops/css/font-awesome.min.css' %}">
     <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

</body>
</html>